body{
	background-image: url('https://static.pexels.com/photos/31500/pexels-photo.jpg');
	background-position: center;
	background-repeat: repeat;
	background-size: contain;
}
.recipe-border {
	margin: 5px auto;
	border: 5px solid white;
	width: 50px;
	/*height: 50px;*/
	border-radius: 50px;
}
/* this is a hack that centers the recipe time number in the recipe-border div */
.recipe-border:before {
	display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}
.recipe-time {
	vertical-align: middle;
	font-size: 18px;
	color: white;
}
/* without this the number stays at the top of the recipe border div instead of the center */
a h3, a h5{
	color: white;
}
