body{
    background-image: url("http://a1.fanbread.com/uploads/image/file/55970/extra_large_mosogourmet-1.jpg?a9fa25c26f5b603f2582cb5266106c9f");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
}
div.container-fluid{
    padding-left: 50px;
}
nav.navbar{
    background-color: salmon;
    outline: 2px solid white;
}
h1.white-text{
    text-indent: 65px;
}
div.jumbotron{
    background-color: unset;
    text-shadow: 1px 1px white;
}
.searchButton{
    padding: 24px;
}
.btn{
    margin-right: 5px;
}
.white-text {
	color: white;
}
/******recipe page*******/
.list-group-item.salmon {
	background-color: salmon;
}

