body{
    background-image: url('https://static.pexels.com/photos/86753/pexels-photo-86753.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
}
body.new-font{
    font-family: 'Playfair Display', serif;
}
div.container-fluid{
    padding-left: 50px;
}
nav.navbar{
    background-color: black;
    outline: 2px solid white;
    margin: 0;
}
h1.white-text{
    text-indent: 65px;
}
div.jumbotron{
    background-color: unset;
    text-shadow: 1px 1px white;
}
.searchButton{
    padding: 24px;
}
.btn{
    margin-right: 5px;
}
.white-text {
	color: white;
}
div.container-fluid.override{
    margin: 0;
    padding: 0;
}
div.first, div.second{
    color: black;
    padding-top: 50px;
    text-shadow: 1px 1px white;
}

